{{#each cart as |cart|}}
<tr>
  <th scope='row'>{{cart.id}}</th>
  <td><a href='/user' class='btn text-danger'><i
        class='ri-delete-bin-3-line'
      ></i></a></td>
  <td>{{cart.name}}</td>
  <td>{{cart.quantity}}</td>
  <td class='text-right'>${{cart.price}}</td>
  <td class='text-right'>${{cart.price}}</td>
</tr>
{{/each}}