<div class='col-12'>
  <div class='card-deck'>
    <div class='card h-100'>
      <!-- Product image-->
      <img class='card-img-top img' src={{product.img}} alt={{product.name}} />
      <!-- Product details-->
      <div class='card-body p-4'>
        <div class='text-center'>
          <!-- Product name-->
          <h5 class='fw-bolder'>{{product.name}}</h5>
          <!--Product description -->
          <p>{{product.desc}}</p>
          <!-- Product price-->
          <p>${{product.price}}</p>

        </div>
      </div>
      <!-- Product actions-->
      <div class='card-footer p-4 pt-0 border-top-0 bg-transparent'>
      </div>
    </div>
  </div>
</div>